body {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/1.jpg);
  background-size: cover;
  /* font-family: "Abril Fatface", cursive; */
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 50px;
  font-weight: normal;
}
.row {
  /* border: 2px solid red; */
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-4 {
  margin: auto;
  padding-top: 15px;

  flex-basis: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row .col-4 .block {
  border-radius: 5px;
  background: rgba(224, 224, 224, 0.9);
  height: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row .col-4 .block span {
  margin: auto;
  color: #000;
  font-size: 30px;
}
.row .col-4 span {
  margin-top: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
